.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.backButtonContainer {
  align-items: flex-start;
}

.logoContainer {
  display: flex;
}
